<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEV3mcetxXmsKJJFsdYKYek5CfD5Gtnnw</string>
	<key>GCM_SENDER_ID</key>
	<string>1077606986142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auctionapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-auction-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-auction-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077606986142:ios:b7fe09f4032f970d97268f</string>
</dict>
</plist>